language: php
php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - hhvm

install:
    - composer self-update
    - composer --prefer-source install

script:
    - ./vendor/bin/phpunit -v --coverage-clover ./build/logs/clover.xml
    - ./vendor/bin/phpcs -p --extensions=php  --standard=ruleset.xml src

after_script:
    - ./vendor/bin/coveralls -v

